@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* cdn ligth theme */
@import url('https://cdn-uicons.flaticon.com/4.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css');

/* cdn dark theme */
@import url('https://cdn-uicons.flaticon.com/4.0.0/uicons-thin-straight/css/uicons-thin-straight.css');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {
    min-width:100%;
    /* min-height: 1000vh; */
    /* background-color: grey; */
    background-color: var(--background-color);
    font-family: "Inter";
}

.container {
    padding: 40px 15px;
    min-height: 129vh;
    display: flex;
    flex-direction: column;
}

.containerThemeIcon {
    display: flex;
    align-self: end;
    justify-content: center;
    align-items: center;
    border: 1px solid #00000038;
    border-radius: 40px;
    width: 220px;
    padding: 5px;
    gap: 25px;
    animation: move 2s ease-in-out;
    transition: all 2s ease 0.1s;
    position: relative;
    z-index: 2;

}

/* @keyframes move {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: ;
    }
} */

.containerThemeIconOn {
    border: 1px solid #d0d0d038;
    transition: all 2s ease 0.1s;
}

.themeIconLigth {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 13px;
    z-index: 2; 
    /* transition: all smooth 0.3s; */
    /* transition: background-color 2s ease-in-out 0.1s; */
    

}

.themeIconDark {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
    /* transition: all smooth 0.3s; */
    /* transition: background-color 2s ease-in-out 0.1s; */
    

    /* selecionado */
    /* background-color: black;
    color: white;
    padding: 13px 21px;
    border-radius: 30px; */

}

.themeIconLigthOn {
    /* background-color: black; */
    /* color: white; */
    padding: 13px 21px;
    border-radius: 30px;
    margin-left: -15px;
    /* animation-name: slice; */
    animation-duration: 3s;
    /* transform: translateX(1%); */
    /* transition: all 2s ease-in-out 0.1s; */
    /* aplicando animação swipe */
    /* transform: translateX(-50%); */
    
}

.themeIconDarkhOn {
    /* background-color: rgb(255, 255, 255); */
    /* color: rgb(0, 0, 0); */
    padding: 13px 21px;
    border-radius: 30px;
    /* transform: translateX(-2%); */

    animation-name: dark;
    /* animation-duration: 0.3s; */
    /* transition: all 2s ease 2s; */
    /* aplicando animação swipe */
    /* transform: translateX(50%); */
}


/* div background botão mode */
.backgroundElement {
    background-color: blue;
    width: 108px;
    height: 50px;
    /* controla posição inicial */
    position: absolute;
    right: 105px;
    /* camada anterior aos elementos do botão */
    z-index: 1;
    border-radius: 31px;
    transition: all 0.8s ease-in-out;
}


.backgroundElementDark {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    /* muda a posição quando o dark estiver ativo */
    position: absolute;
    right: 8px;
}


.backgroundElementLigth {
    background-color: black;
    color: white;
}

@keyframes dark {
    from {
        translate: 1% 0;
        background-color: rgb(255, 255, 255);
        scale: 200% 1;
    }

    to {
        translate: 91%;
        background-color: rgb(255, 255, 255);
        scale: 100% 1;
    }
}


.themeLight {
    color: rgb(255, 255, 255);
    /* width: 35px; */
    font-size: 19px;
    
}

.themeLightOn {
    color: white;
}

.themeDark {
    color: rgb(0, 0, 0);
    font-size: 16px;
    rotate: -30deg;
}

.themeParagraph {
    font-size: 13px;
}

.tituloApp {
    text-align: center;
    padding: 0px 0px 25px ;
}



.containerAreaTarefas {
    padding: 10px 0px;
   
}

.todo-list {
    background-color: var(--background-color-container-todo);
}

.tituloAreaTarefas {
    text-align: left;
    padding: 0px 11px 10px;
    font-size: 18px;
    font-weight: 600;
}

